<a href="https://colab.research.google.com/github/msalvati1997/energy_meter/blob/main/Detect_energy_of_a_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import numpy as np

In [29]:
dataset = pd.read_csv('https://raw.githubusercontent.com/msalvati1997/energy_meter/main/case_study/results.csv?token=GHSAT0AAAAAAB27A6SPVG72TVWUX3ZJU7ROY3M2ELQ', parse_dates=['time'])

In [30]:
dataset

      Unnamed: 0                             time     power
0              0 2022-11-10 08:42:48.677000+00:00  3.744788
1              1 2022-11-10 08:42:49.180000+00:00  7.637335
2              2 2022-11-10 08:42:49.684000+00:00  0.032518
3              3 2022-11-10 08:42:50.187000+00:00  0.001116
4              4 2022-11-10 08:42:50.692000+00:00  0.000923
...          ...                              ...       ...
2896        2896 2022-11-10 09:07:21.052000+00:00  0.000895
2897        2897 2022-11-10 09:07:21.561000+00:00  0.001022
2898        2898 2022-11-10 09:07:22.063000+00:00  0.000957
2899        2899 2022-11-10 09:07:22.566000+00:00  0.001170
2900        2900 2022-11-10 09:07:23.070000+00:00  0.000886

[2901 rows x 3 columns]

In [31]:
dataset = dataset.sort_values(by=['time']).reset_index(drop=True).to_numpy()  # Sort and convert to numpy array

In [32]:
dataset

array([[0, Timestamp('2022-11-10 08:42:48.677000+0000', tz='UTC'),
        3.744788320021226],
       [1, Timestamp('2022-11-10 08:42:49.180000+0000', tz='UTC'),
        7.637335232038103],
       [2, Timestamp('2022-11-10 08:42:49.684000+0000', tz='UTC'),
        0.032518271429091],
       ...,
       [2898, Timestamp('2022-11-10 09:07:22.063000+0000', tz='UTC'),
        0.0009571159296299],
       [2899, Timestamp('2022-11-10 09:07:22.566000+0000', tz='UTC'),
        0.0011697160770632],
       [2900, Timestamp('2022-11-10 09:07:23.070000+0000', tz='UTC'),
        0.000885917794769]], dtype=object)

In [34]:
# Split into 2 arrays
values = [float(i[2]) for i in dataset]  # Flow values, in float
values = np.array(values)

dates = [i[1].to_pydatetime() for i in dataset]
dates = np.array(dates)

In [46]:
flow = np.diff(values).tolist()
time = np.diff(dates).tolist()

In [58]:
time.total_seconds()

AttributeError: ignored

In [49]:
slopes = np.divide(flow, time) # (flow[i+1] - flow[i]) / (time[i+1] - time[i])
slopes = np.insert(slopes, 0, 0, axis=0) # Since we "lose" the first index, this one is 0, just for alignments

TypeError: ignored